body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.caja{
    border: 1px solid grey;
}

.perfil img{
    height: 45px;
    border-radius: 45px;
    margin-right: 8px;
}

.perfil{
    display: flex;
    align-items: center;
}

.perfil p{
    font-weight: bold;
}

.titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.contenido img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.final{
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.opciones img{
    margin-right: 12px;
}